@media screen and (max-width: 1512px) {
    html {
      font-size: 0.9090909091vw;
    }
  }
  @media screen and (max-width: 1440px) {
    html {
      font-size: 1.0204081633vw;
    }
  }
  @media screen and (max-width: 1024px) {
    html {
      font-size: 1.25vw;
    }
    .container {
      max-width: 72rem;
    }
    .header_container {
    }
    .header_container nav {
      gap: 1.5rem;
    }
    .sn_about_content {
      padding: 3.2rem;
    }
    .sn_about_content::after {
      width: 35rem;
      -webkit-transform: translateX(6rem);
              transform: translateX(6rem);
    }
    .sn_about_content h2 {
      font-size: 4rem;
      max-width: 40rem;
    }
    .sn_lore .lore_img_b {
      right: 5rem;
    }
    .sn_tokenomics .moon {
      right: -3.5rem;
    }
    .sn_tokenomics .rocket_man {
      width: 26rem;
      height: 26rem;
      top: 8rem;
      left: -6rem;
    }
    .slider_container {
      padding: 3.2rem 3.2rem 8.8rem 3.2rem;
    }
    .custom_slider .custom_slide {
      padding: 3.2rem;
      height: 50rem;
    }
    .custom_slider .custom_slide p {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
    }
    .custom_slider .custom_slide .step {
      height: 28rem;
      top: initial;
      bottom: 0;
    }
    .sn_roadmap_content {
      padding-top: 5rem;
    }
    .sn_fuq_content h2 {
      font-size: 6rem;
    }
    .sn_fuq_content .question_items {
      padding-bottom: 5rem;
    }
    .sn_fuq_content .question_items::before {
      width: 28rem;
    }
    .sn_fuq_content .question_items .question_item {
      max-width: 45rem;
    }
  }
  @media screen and (max-width: 767px) {
    header {
      width: 100%;
      position: sticky;
      top: 0rem;
      z-index: 100;
    }
    .menu_mobile_btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      cursor: none;
    }
    .bone{
      cursor:none;
      min-width: 8.23em;
    }
    .cursorNone{
      cursor: none;
    }
    .copy_button {
      cursor:none;
    }
    .header_container {
      width: 100%;
      margin: auto;
      background: #ffffff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 5rem;
      padding: 0.5rem 1rem 0.5rem 1.5rem;
    }
    .header_container .logo img {
      height: 2rem;
    }
    .header_container .right_action .link_st_a {
      display: none;
    }
    .header_container nav {
      display: none;
    }
    .mobile_navigation.active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    html {
      font-size: 3.8461538462vw;
    }
    .container {
      padding: 0 1rem;
    }
    .sn_hero_content {
      padding-top: 5rem;
      gap: 2rem;
      background-size: 24rem;
    }
    .sn_hero_content h1 {
      font-size: 4rem;
      font-weight: 400;
      line-height: 4rem;
      letter-spacing: 0;
    }
    .sn_hero_content p {
      font-size: 1.125rem;
      line-height: 1.425rem;
      max-width: 20rem;
    }
    .sn_hero_content .row_btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 1rem;
    }
    .sn_hero_content .row_btn a {
      min-width: 10rem;
    }
    .sn_hero_content .hero_char {
      max-width: 40rem;
      width: 100%;
      margin-top: -3rem;
      -webkit-animation: hero_char 1s ease;
              animation: hero_char 1s ease;
    }
    @-webkit-keyframes sn_hero_content {
      0% {
        background-size: 14rem;
      }
      100% {
        background-size: 24rem;
      }
    }
    @keyframes sn_hero_content {
      0% {
        background-size: 14rem;
      }
      100% {
        background-size: 24rem;
      }
    }
    .primary_btn_a_img {
      padding: 0.75rem 1rem;
      width: auto;
    }
    .primary_btn_a_img-item {
      font-size: medium;
    }
    .primary_btn_a_img div {
      width: 2rem;
    }
    .moving_line_scroll {
      height: 3rem;
      background-size: contain;
    }
    @-webkit-keyframes moving_line_scroll {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 7.1rem;
      }
    }
    @keyframes moving_line_scroll {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 7.1rem;
      }
    }
    .sn_about {
      background-size: 50rem;
      padding: 1.5rem 0 1.5rem;
    }

    @-webkit-keyframes sn_about_content {
      0% {
        background-position: 0;
      }
      100% {
        background-position: 50rem;
      }
    }
    @keyframes sn_about_content {
      0% {
        background-position: 0;
      }
      100% {
        background-position: 50rem;
      }
    }

    .sn_about_content {
      padding: 2rem 2rem 22rem 2rem;
      gap: 2rem;
    }
    .sn_about_content::after {
      height: 40rem;
      right: 0;
      width: 100%;
      bottom: 0;
      -webkit-transform: none;
              transform: none;
    }
    .sn_about_content h2 {
      font-size: 2.2rem;
      line-height: 2.4rem;
      letter-spacing: 0rem;
    }
    .sn_about_content p {
      font-size: 1rem;
      line-height: 1.4rem;
    }
    .sn_about_content .row_btn {
      margin-top: -45px;
      gap: 1rem;
    }
    .sn_about_content .mediumReadMore{
      margin-top: -25px;
    }
    .sn_about_content .header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 1rem;
    }
    .sn_about_content .header .avatar {
      width: 4rem;
      height: 4rem;
    }
    .sn_about_content .header .social_link_items {
      gap: 1rem;
    }
    .sn_about_content .header .social_link_items .social_link img {
      width: 2.4rem;
      height: 2.4rem;
    }
    
    .sn_tokenomics {
      background-size: 50rem;
    }
    .sn_tokenomics .tokenomicPic {
      width: 70%;
    }
    .sn_tokenomics .moon {
      position: absolute;
      width: 5rem;
      height: 7rem;
      top: 6.5rem;
      right: -4rem;
    }
    .rocket_man {
      position: absolute;
      width: 4rem;
      top: 5em;
      left: 2rem;
    }

    .rocket_man2 {
      position: absolute;
      width: 4rem;
      top: 5rem;
      right: 2rem;
    }
    .sn_tokenomics_content {
      gap: 1rem;
      padding: 0rem 0;
    }
    .sn_tokenomics_content .tokenLogos {
      width: 20px;
      box-shadow: 0rem -0.1125rem 0rem #000, -0.1125rem 0rem 0rem #000, 0.1125rem 0rem 0rem #000, 0rem 0.1125rem 0rem #000, 
      -0.075rem 0.075rem 0rem #000, -0.075rem -0.075rem 0rem #000, 0.075rem -0.075rem 0rem #000, 0.2625rem 0.1875rem 0rem #000;
      border-radius: 20px;
      border: #000 1px solid;
    }
    .sn_tokenomics_content .mth4 {
      margin-top: -10px;
    }
      
    .sn_tokenomics_content .mth3f {
      margin-top: -15px;
    }
      
    .sn_tokenomics_content .mth3s {
      margin-top: -5px;
    }

    .sn_tokenomics_content .withBagPic{
      width: 70%;    
    }

    .sn_tokenomics_content .withBagPic2{
      width: 70%;    
    }

    .sn_tokenomics_content h1 {
      text-shadow: 0rem -0.1125rem 0rem #000, -0.1125rem 0rem 0rem #000, 0.1125rem 0rem 0rem #000, 0rem 0.1125rem 0rem #000, 
      -0.075rem 0.075rem 0rem #000, -0.075rem -0.075rem 0rem #000, 0.075rem -0.075rem 0rem #000, 0.2625rem 0.1875rem 0rem #000;  
      font-size: 2.5rem;
    }
    .sn_tokenomics_content h2 {
      text-shadow: 0rem -0.1125rem 0rem #000, -0.1125rem 0rem 0rem #000, 0.1125rem 0rem 0rem #000, 0rem 0.1125rem 0rem #000, 
                 -0.075rem 0.075rem 0rem #000, -0.075rem -0.075rem 0rem #000, 0.075rem -0.075rem 0rem #000, 0.2625rem 0.1875rem 0rem #000;
      font-size: 1.5rem;
      line-height: 3rem;
      letter-spacing: 0rem;
    }
    .sn_tokenomics_content h3 {
      text-shadow: 0rem -0.1125rem 0rem #000, -0.1125rem 0rem 0rem #000, 0.1125rem 0rem 0rem #000, 0rem 0.1125rem 0rem #000, 
                 -0.075rem 0.075rem 0rem #000, -0.075rem -0.075rem 0rem #000, 0.075rem -0.075rem 0rem #000, 0.2625rem 0.1875rem 0rem #000;
      font-size: 1.3rem;
      line-height: 2.4rem;
      letter-spacing: 0rem;
    }
    .sn_tokenomics_content h4 {
      text-shadow: 0rem -0.1125rem 0rem #000, -0.1125rem 0rem 0rem #000, 0.1125rem 0rem 0rem #000, 0rem 0.1125rem 0rem #000, 
      -0.075rem 0.075rem 0rem #000, -0.075rem -0.075rem 0rem #000, 0.075rem -0.075rem 0rem #000, 0.2625rem 0.1875rem 0rem #000;  
      font-size: 1.4rem;
      line-height: 1.2;
    }

    .partnerBox {
      width: 100%;
      height: 3.875rem;
      background: #02141f;
    }
    .partner {
      margin-top: 8px;
    }
    .partnerText {
      text-shadow: 0rem -0.1125rem 0rem #000, -0.1125rem 0rem 0rem #000, 0.1125rem 0rem 0rem #000, 0rem 0.1125rem 0rem #000, 
      -0.075rem 0.075rem 0rem #000, -0.075rem -0.075rem 0rem #000, 0.075rem -0.075rem 0rem #000, 0.2625rem 0.1875rem 0rem #000;  
      font-size: 1.8rem;
    }
    .partnerImage{
      width: 110px;
    }

    .copy_container {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      gap: 1rem;
    }
    .copy_container .copy_button {
      height: 3rem;
      width: 3rem;
    }
    .copy_container .copy_content {
      padding: 0.9375rem 1rem;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
    }
    .copy_container .copy_content p {
      font-size: 0.65rem;
      line-height: 1.4rem;
    }
    
    .sn_social_content {
      height: 18rem;
    }
    .sn_social_content .content {
      padding: 2rem;
      gap: 1.5rem;
    }
    .sn_social_content .content h3 {
      font-size: 2rem;
      line-height: 2rem;
    }
    .sn_social_content .content .social_media_link {
      gap: 1rem;
    }
    .sn_social_content .content .social_media_link a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    .sn_social_content .content .social_media_link a img {
      width: 2rem;
      height: 2rem;
    }
    .sn_fuq_content {
      padding-top: 3rem;
      gap: 2rem;
    }
    .sn_fuq_content h2 {
      font-size: 3rem;
      line-height: 3rem;
      letter-spacing: 0rem;
    }
    .sn_fuq_content .question_items {
      gap: 0.9rem;
      padding-bottom: 16rem;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .sn_fuq_content .question_items::before {
      content: "";
      width: 16rem;
      height: 15rem;
      right: initial;
    }
    .sn_fuq_content .question_items .question_item {
      padding: 1.2rem;
      gap: 0.2rem;
    }
    .sn_fuq_content .question_items .question_item .response {
      font-size: 1rem;
      line-height: 1.4rem;
      display: none;
    }
    .sn_fuq_content .question_items .question_item .question_btn p {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      font-size: 1.4rem;
      line-height: 1.4rem;
    }
    .sn_fuq_content .question_items .question_item .question_btn .faq_btn {
      width: 2.2rem;
      height: 2.2rem;
      cursor: none;
    }
    footer .footer_bloop {
      position: absolute;
      aspect-ratio: 1/1;
      height: 12rem;
      left: -5rem;
      top: initial;
      bottom: 0;
    }
    .sn_footer_content {
      padding: 1rem 0 1rem 0;
      gap: 3rem;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
    }
    .sn_footer_content .social_media {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 2.125rem;
    }
    .sn_footer_content .social_media .title {
      font-size: 1rem;
      line-height: 1rem;
      letter-spacing: 0rem;
    }
    .sn_footer_content .social_media .social_media_link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 1.25rem;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
    }
    .sn_footer_content .social_media .social_media_link a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    .sn_footer_content .social_media .social_media_link a img {
      width: 2rem;
      height: 2rem;
      -ms-flex-negative: 0;
          flex-shrink: 0;
    }
    .sn_footer_content .rights {
      width: 10rem;
      text-align: right;
      font-size: 1rem;
      line-height: 1.4rem;
    }
    .lock_scroll {
      overflow: hidden;
    }
  }
  